@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "gilroy_heavy";
  src: url("./assets/fonts/gilroy/Gilroy-Medium.ttf");
}
.ff_gilroy_heavy{
  font-family: "gilroy_heavy";
}
.ff_lato{
  font-family: "Lato";
}
.ff_inter{
  font-family: "Inter";
}
.line_height{
  line-height: normal !important;
}
.bg_button{
  background: var(--Linear, linear-gradient(265deg, #54E1A1 1.77%, #45ABD5 97.88%));
}
.bttn_view{
  background: var(--Linear, linear-gradient(265deg, #54E1A1 1.77%, #45ABD5 97.88%));
}
.card_bg{
  background: white;
  /* transition: all 1000ms linear !important; */
}
.card_bg:hover{
  background: var(--Linear, linear-gradient(265deg, #54E1A1 1.77%, #45ABD5 97.88%));
  box-shadow: 0px 0px 10.066px 0px rgba(0, 0, 0, 0.10) ;
}
.card_bg:hover .my_elps{
  fill: white !important;
}
.txt_clr_1{
  color: #525252;
}
.card_bg:hover .txt_clr_1{
  color: white;
}
.txt_clr{
  background: var(--Linear, linear-gradient(265deg, #54E1A1 1.77%, #45ABD5 97.88%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} 
.card_get{
  background: var(--Linear, linear-gradient(265deg, #54E1A1 1.77%, #45ABD5 97.88%));
  box-shadow: 0px 0px 10.066px 0px rgba(0, 0, 0, 0.10) !important;
}
.card_shadow{
  box-shadow: 0px 0px 10.066px 0px rgba(0, 0, 0, 0.10);
}
.img_border{
  border-radius: 16.25px;
  border: 3px solid var(--Linear, #54E1A1);
  background: var(--Linear, linear-gradient(265deg, #54E1A1 1.77%, #45ABD5 97.88%));
}